@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-100: #327991;

    --color-300: #266980;

    --color-500: #195970;

    --color-700: #0D485F;

    --color-900: #00384E;
}


/* componentes do CSS */
@layer components{
    form input,
    form textarea,
    form select{
        @apply border border-zinc-800 py-1 px-2;
    }
    label{
        @apply font-bold;
    }
    .form-group{
        @apply w-full mb-2;
    }
    .form-group input{
        @apply w-full;
    }
    .form-group input[type="radio"]{
        @apply w-[unset];
    }
}