@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-100: #327991;

    --color-300: #266980;

    --color-500: #195970;

    --color-700: #0D485F;

    --color-900: #00384E;
    --dark-gray: #111827;
}

/* utilitaries-classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding-inline: 2rem;
}
/* utilitaries-classes */

/* nav */
.nav-color{
    background-color: var(--color-100);
    background-color: #111827;
}
nav{
    z-index: 1;
}

/* PORTAL-PAGE */
/* header */
header{
    /* background-image: linear-gradient(80deg, var(--color-900) 10%, var(--dark-gray)); */
    /* background-image: linear-gradient(130deg, red 40%, yellow); */
}
.progress-bar-item{
    border-radius: 50%;
    /* border: 10px solid var(--color-100); */
    border: 10px solid #fff;
    /* border: 10px solid #111827; */
    width: 300px;
    height: 300px;
    text-align: center
}

/* STUDENT-PORTAL PAGE */
.title-underline{
    width: 10%;
    height: 4px;
    background-color: var(--color-100);
    top: 60px;
    left: 5px;
}

.subject-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.image-subject{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* HISTORY-PAGE */
.trimester-item{
    background-image: linear-gradient(to right, var(--color-900), var(--color-100));
}
.trimester-item a h3{
    font-size: 1.4rem;
}
.trimester-time-line{
    list-style: none;
}
.trimester-time-line span::before{
    content: ".";
    position: relative;
    top: 0rem;
    left: 0;
    display: block;
    font-size: 2rem;
    background-color: var(--color-900);
    color: var(--color-900);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* VLbrasPlugin */
.enable{
    border: 2px solid red;
    padding: 3rem;
}
.active{
    background-color: blue;
    padding-inline: 3rem;
}
/* CSS Components */
@layer components{
    form input,
    form textarea,
    form select{
        @apply border border-blue-500 py-1 px-2;
    }
    label{
        @apply font-bold;
    }
    .form-group{
        @apply w-full mb-2;
    }
    .form-group input{
        @apply w-full;
    }
    .form-group input[type="radio"]{
        @apply w-[unset];
    }
}