@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-100: rgb(50, 121, 145);

    --color-300: #266980;

    --color-500: #195970;

    --color-700: #0D485F;

    --color-900: #00384E;
    --dark-gray: #111827;
}

/* utilitaries-classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding-inline: 2rem;
}
/* utilitaries-classes */

/* nav */
.nav-color{
    background-color: var(--color-100);
    background-color: #111827;
}
nav{
    z-index: 1;
}

/* PORTAL-PAGE */
/* header */
header{
    /* background-image: linear-gradient(80deg, var(--color-900) 10%, var(--dark-gray)); */
    /* background-image: linear-gradient(130deg, red 40%, yellow); */
}
.progress-bar-item{
    border-radius: 50%;
    /* border: 10px solid var(--color-100); */
    border: 10px solid #fff;
    /* border: 10px solid #111827; */
    width: 300px;
    height: 300px;
    text-align: center
}

/* STUDENT-PORTAL PAGE */
.title-underline{
    width: 10%;
    height: 4px;
    background-color: var(--color-100);
    top: 60px;
    left: 5px;
}

.subject-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.image-subject{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.subject{
    width: 100%;
    margin-bottom: 2rem;
}
.subject:hover{
    transform: scale(1);
    box-shadow: 0px 5px 15px 6px #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.subject div a:hover{
    transition: all 0.3;
    background-color: var(--color-900);
}

/* HISTORY-PAGE */
.trimester-item{
    background-image: linear-gradient(to right, var(--color-900), var(--color-100));
}
.trimester-item a h3{
    font-size: 1.4rem;
}
.trimester-time-line{
    list-style: none;
}
.trimester-time-line span::before{
    content: ".";
    position: relative;
    top: 0rem;
    left: 0;
    display: block;
    font-size: 2rem;
    background-color: var(--color-900);
    color: var(--color-900);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* VLbrasPlugin */
.enable{
    border: 2px solid red;
    padding: 3rem;
    background-color: goldenrod;
}
.active{
    background-color: blue;
    padding-inline: 3rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* STUDENTS FORM - COMPONENT */
.grid-group{
    /* grid-template-columns: repeat(3, 200px); */
    flex-flow: flex wrap;
}
/* CSS Components */

/* TRIMESTER PAGE/TRIMESTER COMPONENT */
.container-video{
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%; */
    display: flex;
    gap: 15px;

}
.main-video{
    background-color: var(--color-900);
    border-radius: 5px;
    padding: 10px;
}
.main-video video{
    width: 100%;
    border-radius: 5px;
}
.main-video h3{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500px;
    padding: 0.7rem;
}
.aspect-ratio{
    aspect-ratio: 16 / 9;
}
.container-video .video-list{
    background-color: var(--color-900);
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
    /* min-width: 500px; */
}
.container-video .video-list .video-item video{
    width: 120px;
    border-radius: 5px;
}
.container-video .video-list::-webkit-scrollbar{
    width: 8px;
}
.container-video .video-list::-webkit-scrollbar-track{
    background-color: var(--color-900);
    border-radius: 50px;
}
.container-video .video-list::-webkit-scrollbar-thumb{
    background-color: var(--color-100);
    border-radius: 80px;
}
.container-video .video-list .video-item{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--color-100);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #fff;
    cursor: pointer;
}
.video-item h3{
    color: #fff;
}
.container-video .video-list .video-item:hover{
    background-color: var(--color-900);
    transition: all .3s ease;
}
.container-video .video-list .video-item.active-vid-item{
    background-color: var(--color-900);
}
.container-video .video-list .video-item.active-vid-item .vid-title{
    color: #fff;
    font-weight: boder;
    font-style: italic;
}

@media screen and (max-width: 991px){
    .container-video{
        display: grid;
    align-items: flex-start;
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
        padding: 5px 5%;
    
    }
}
@media screen and (max-width: 768px){
    .container-video{
        display: grid;
    align-items: flex-start;
        padding: 10px;
        padding: 5px 5%;
        grid-template-columns: 1fr;
    }
}
/* END TRIMESTER PAGE/TRIMESTER COMPONENT */

/* TABLESSON COMPONENT */
.container-tab{
    /* background-color: #deeeff; */
    background-color: #ffee;
    width: 100%;
    padding: 30px;
    box-shadow: 0 2px 26px rgba(0, 0, 0,.1);
    border-radius: 10px;
}
.tab-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--color-100);
    position: relative;
}
.tab-btn{
    padding: 18px;
    background-color: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.tab-box .tab-btn.active-tab{
    color:  var(--color-700);
}
/* .tab-box .line{
    position: absolute;
    width: 90px;
    height: 5px;
    background-color: red;
    top: 4rem;
    left: 0;
    transition: all 0.3s ease-in-out;
} */
.content-box{
    padding: 1.3rem;
}
.content-box .content-item{
    display: none;
    animation: moving .5s ease;
    line-height: 1.4rem;
    text-align: justify;
}
.doubt textarea, button{
    width: 100%;
    padding: 0.5rem;
}
.doubt textarea{
    border: 1px solid var(--color-100);
    border-radius: 0.5rem;
}
.doubt textarea:focus{
    outline-color: var(--color-700);
}
@keyframes moving{
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.content-box .content-item.active-tab{
    display: block;
}
.content-item h2{
    margin-bottom: 0.7rem;
    font-weight: bold;
    color: var(--color-900);
}
/* END TABLESSON COMPONENT */

/* LIBRARY MAIN */
.books-items .book-item{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0,.1);
    display: inline;
    /* min-height: 220px; */
    width: 250px;
    height: 100%;
}
.book-item:hover{
    box-shadow: 0px 5px 10px 5px rgba(50, 121, 145, 0.744);
    transform: translateY(-10px);    
    transition: all 0.3s;
    cursor: pointer;
}
.book-item a span{
    display: inline-block;
    width: full;
}
.book-item span:first-child{
    background-color: red;
    margin-right: 0.5rem;
    border-radius: 5px;
}
.book-item span:last-child{
    background-color: var(--dark-gray);
}
.book-item span:hover{
    background-color: var(--color-300);
    transition: all 0.3s;
}

iframe{
    width: 500px;
    height: 250px;
}
.video-items{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 250px)); */
}
.video-item div{
    background-color: red;
    padding: 1rem;
}
/* END LIBRARY MAIN */
/* TABLE DETAILS */

table{
    cursor: pointer;
}

/* END TABLE DETAILS */
@layer components{
    form input,
    form textarea,
    form select{
        @apply border border-blue-500 py-1 px-2;
    }
    label{
        @apply font-bold text-skin-cl900;
    }
    b{
        @apply text-skin-cl900;
    }
    .form-group{
        @apply w-full mb-2;
    }
    .form-group input{
        @apply w-full;
    }
    .form-group input[type="radio"]{
        @apply w-[unset];
    }
}
